<!-- TODO: Add validations -->

<md-content class="md-padding" layout="row" layout-align-gt-sm="center center">

  <md-content class="md-padding" flex-gt-sm="70" md-whiteframe="3">

    <div layout="row" layout-align="end center">
      <md-button  class="md-raised md-warn">add media</md-button>

      <!--<md-content md-theme="indigo" class="md-padding md-warn"  layout-align="end center" layout-sm="column"  flex="50">-->
      <!--Info about-->
      <!--</md-content>-->
    </div>

    <md-input-container class="md-block">
      <label>Message</label>
      <textarea name="message" ng-model="vm.message" required md-maxlength="150" rows="5" md-select-on-focus=""> </textarea>
      <div ng-messages="message.message.$error" ng-show="message.message.$dirty">
        <div ng-message="required">This is required!</div>
        <div ng-message="md-maxlength">That's too long!</div>
      </div>
    </md-input-container>


    <md-chips ng-model="vm.messageTag" readonly="vm.readonly" md-removable="vm.removable" md-enable-chip-edit="true"></md-chips>



    <form name="userForm">
      <div layout layout-sm="column">
        <md-input-container flex="50">
          <md-select ng-model="vm.setting"  placeholder="Настройки отправки" class="md-no-underline">
            <md-option value="my">От своего имени</md-option>
            <md-option value="group">От имени сообщества</md-option>
          </md-select>

          <!--<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">-->
            <!--Checkbox 1: {{ data.cb1 }}-->
          <!--</md-checkbox>-->

        </md-input-container>
        <md-input-container flex="50">
          <label>Timer</label>
          <input type="date" ng-model="vm.submissionDate">

          <mdp-date-picker mdp-open-on-click required name="dateFormat" mdp-placeholder="My date(dd/mm/yyyy)" mdp-format="DD/MM/YYYY" ng-model="currentDate">
            <div ng-messages="demoForm.dateFormat.$error">
              <div ng-message="required">This is required</div>
              <div ng-message="format">Invalid format</div>
            </div>
          </mdp-date-picker>
        </md-input-container>




      </div>

    </form>
    <md-input-container>
      <md-switch ng-model="isActive" class="md-warn" ng-true-value aria-label="VK?">
        VK ?
      </md-switch>

      <md-switch class="md-warn" ng-model="hasInk" aria-label="Twitter?">
        Twitter ?
      </md-switch>

      <md-switch class="md-warn"  ng-model="isFacebook" aria-label="Facebook?">
        Facebook ?
      </md-switch>
    </md-input-container>

    <div layout="row" flex layout-align="end center">
      <md-button class="capitalize md-raised md-button md-warn">
        Send
      </md-button>

    </div>

  </md-content>




</md-content>
