<navbar></navbar>
<md-content flex layout="column" layout-align-gt-sm="center center" class="md-padding" md-whiteframe="3">
  <md-content layout="column" class="md-padding" md-whiteframe="3" style="min-height: 85vh;">

    <div flex layout="column">
      <h1>Login</h1>
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code>
        / <code>test</code></p>
      <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
    </div>

    <div layout="row">
      <div flex layout="column" flex-gt-sm="80">
        <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

          <md-input-container class="md-block">
            <label>Email</label>
            <input required="" type="email" name="email" ng-model="vm.user.email" minlength="10" maxlength="100"
                   ng-pattern="/^.+@.+\..+$/">

            <div ng-messages="form.email.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and look like an e-mail address.
              </div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>

            <div ng-messages="form.password.$error" role="alert">
              <div ng-message-exp="['required']">
                Please enter your password.
              </div>
            </div>
          </md-input-container>

          <div>
            <md-button class="md-raised" type="submit">
              Login
            </md-button>


            <md-button md-no-ink="" class="md-primary" ui-sref="signup">Register</md-button>
          </div>


        </form>
      </div>
      <div flex layout="row" flex-gt-sm="20">
        <div flex-sm="40" flex-md="30">
          <oauth-buttons classes="btn-block"></oauth-buttons>
        </div>
      </div>
    </div>


  </md-content>

</md-content>

