<div class="container">
  <p>Документация??? что может понадобится ^_^
    <a href="http://angular-fullstack.github.io/generator-angular-fullstack">Generators</a> |

    <a href="http://passportjs.org/">Passport</a> |
  </p>
</div>
