<md-card>
  <md-card-content layout="column">
    <md-input-container>
      <md-button class="md-fab md-warn" aria-label="auth facebook" ng-click="OauthButtons.loginOauth('facebook')"
                 class="btn btn-social btn-facebook">
        <i class="fa fa-facebook"></i>
        <md-tooltip md-direction="left">
          Connect with Facebook
        </md-tooltip>
      </md-button>
    </md-input-container>


    <md-input-container>
      <md-button class="md-fab md-warn" aria-label="auth twitter" ng-class="classes"
                 ng-click="OauthButtons.loginOauth('twitter')" class="btn btn-social btn-twitter">
        <i class="fa fa-twitter"></i>
        <md-tooltip md-direction="left">
          Connect with Twitter
        </md-tooltip>
      </md-button>
    </md-input-container>

    <md-input-container>
      <md-button class="md-fab md-warn" aria-label="auth vkontakte" ng-class="classes"
                 ng-click="OauthButtons.loginOauth('vkontakte')" class="btn btn-social btn-vkontakte">
        <i class="fa fa-vk"></i>
        <md-tooltip md-direction="left">
          Connect with Vkontakte
        </md-tooltip>
      </md-button>
    </md-input-container>
  </md-card-content>
</md-card>
