<div layout-gt-md="row">
  <section layout-margin class="md-whiteframe-z1 panel-widget">
    <div>
      <md-toolbar md-theme="indigo" class="md-hue-1 md-accent">
        <div class="md-toolbar-tools">
          <h3 class="panel-widget-tittle">Site visitors</h3>
          <span flex></span>
          <md-button ng-show="options" ng-click="$showOptions = !$showOptions" class="md-icon-button"
                     aria-label="Show options">
            <i class="material-icons">more_vert</i>
          </md-button>
        </div>
      </md-toolbar>
    </div>

    <div>
      <md-content layout="row" layout-align="center center">
        <nvd3 options="vm.chartOptions" data="vm.visitorsChartData"></nvd3>
      </md-content>
    </div>

    <div ng-include="'.client/app/dashboard/statistic/visitors.html'" ></div>
    <!--<div ng-include="'/app/dashboard/statistic/partials/warnings.html'" ></div>-->
  </section>


  <!--Просмотров-->
  <!--конверсия-->
  <!--действия-->
  <!--месторасположение-->
  <!--действие / число посетителей-->
  <!--активность подписчиков-->

  <!--<panel-widget flex title="Site visitors" template="./partials/visitors.html" class="fixed-height-widget"></panel-widget>-->
  <panel-widget flex title="Warnings" template="app/dashboard/statistic/partials/warnings.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Server Control Panel" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Autocomplete Input" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Performance" template="app/views/partials/performance.html" options="true"></panel-widget>
  <panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget>
</div>


<md-card>
  <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Action buttons</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>
      The titles of Washed Out's breakthrough song and the first single from Paracosm share the
      two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
    </p>
    <p>
      The titles of Washed Out's breakthrough song and the first single from Paracosm share the
      two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
    </p>
    <p>
      The titles of Washed Out's breakthrough song and the first single from Paracosm share the
      two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
    </p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
  </md-card-actions>
</md-card>
