

<md-toolbar md-theme="indigo" flex class="app-toolbar md-indigo-theme md-whiteframe-z2 fix-top" >
  <div class="md-toolbar-tools" tabindex="0">
    <md-button class="menu-icon nornal-btn" ng-show="$ctrl.isLoggedIn()" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"  aria-label="Toggle Menu">
      <md-tooltip>
        Меню
      </md-tooltip>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </md-button>
    <a ui-sref="dashboard.message" class="navbar-brand nav-white" >MarkappApp</a>
    <span flex=""></span>
    <md-button class="md-icon-button" aria-label="Favorite">
      <i class="fa fa-heart" aria-hidden="true" style="color: greenyellow;"></i>
    </md-button>
  <md-button ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
    <a ui-sref="signup">Sign up</a>
  </md-button>
    <md-button ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active" ui-sref="login">
      Login
    </md-button>

    <md-menu md-position-mode="target-right target" ng-show="$ctrl.isLoggedIn()">
      <md-button aria-label="Open right menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>

          <!--<li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>-->
          <!--<li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>-->

          <md-button>
            <div layout="row" flex="">
              <p flex="">Hello {{ $ctrl.getCurrentUser().name }}</p>
            </div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-show="$ctrl.isLoggedIn()" ui-sref-active="active" ui-sref="settings">
            <div layout="row" flex="">
              <p flex="">Setings</p>
            </div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-show="$ctrl.isLoggedIn()" ui-sref="logout">
            <div layout="row" flex="">
              <p flex="">Logout</p>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

  </div>

</md-toolbar>

<!--<div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">-->
  <!--<ul class="nav navbar-nav">-->
    <!--<li ng-repeat="item in $ctrl.menu" ui-sref-active="active">-->
      <!--<a ui-sref="{{item.state}}">{{item.title}}</a>-->
    <!--</li>-->
    <!--<li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>-->
  <!--</ul>-->


<!--</div>-->
<!--<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">-->
  <!--<div ng-controller="LeftCtrl" ng-click="close()">-->
    <!--<md-toolbar md-theme="indigo">-->
      <!--<h1 class="md-toolbar-tools">Меню</h1>-->
    <!--</md-toolbar>-->
    <!--<md-content >-->
      <!--<a class="menu-item menu-sub-item md-menu-item" ng-click="menu.toggleSelectPage(page)" ng-repeat="page in menu.pages" ng-href="#{{page.url}}" md-highlight="menu.isPageSelected(page)" md-ink-ripple="#bbb">-->
        <!--<span > {{page.discription}} </span>-->
      <!--</a>-->
    <!--</md-content>-->
  <!--</div>-->
<!--</md-sidenav>-->

