
<div layout="column" layout-fill md-scroll-y flex>
  <navbar></navbar>
  <div layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
                class="md-whiteframe-z2 md-sidenav-left" flex="10">

      <md-button ng-repeat-start="item in vm.menuItems" layout="column" layout-align="center center"
                 flex class="capitalize" ng-click="vm.selectItem(item)"
                 ui-sref-active="md-warn" ui-sref="{{item.sref}}">
        <div hide-sm hide-md class="md-tile-content">
          <i class="material-icons md-36">{{item.icon}}</i>
        </div>
        <div class="md-tile-content">
          {{item.name}}
        </div>
      </md-button>
      <md-divider ng-repeat-end></md-divider>
      <md-button layout-align="center center"
                 flex class="capitalize" ng-click="vm.selectItem(item)"
                 ui-sref-active="md-warn" ui-sref=".admin" ng-show="vm.isAdmin()">
        <div hide-sm hide-md class="md-tile-content">
          <i class="material-icons md-36">build</i>
        </div>
        <div class="md-tile-content">
          admin-panel
        </div>
      </md-button>
      <md-divider></md-divider>
      <md-button ng-click="vm.showActions($event)" layout-align="center center">
        <div class="md-tile-content">
          Actions
        </div>
      </md-button>
    </md-sidenav>
    <md-content class="md-padding page-content" flex-gt-sm="90" flex="100">
      <div ui-view></div>
    </md-content>
  </div>

</div>
