<navbar></navbar>
<md-content flex layout="column" layout-align-gt-sm="center center" class="md-padding" md-whiteframe="3">
  <md-content layout="column" class="md-padding" md-whiteframe="3" style="min-height: 85vh; width: 70%;" flex-gt-sm="70">

    <div flex layout="column">
      <h1>Sign up</h1>
    </div>

    <div layout="row">
      <div flex layout="column" flex-gt-sm="80">
        <form class="form" name="form" ng-submit="vm.register(form)" novalidate>


          <md-input-container class="md-block">
            <label>Name</label>
            <input required="" type="text" name="name" ng-model="vm.user.name" minlength="2" maxlength="100">

            <div ng-messages="form.name.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength']">
                Your Name must be between 2 and 100 characters long.
              </div>
            </div>
          </md-input-container>


          <md-input-container class="md-block">
            <label>Email</label>
            <input required="" type="email" name="email" ng-model="vm.user.email" minlength="10" maxlength="100"
                   ng-pattern="/^.+@.+\..+$/">

            <div ng-messages="form.email.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and look like an e-mail address.
              </div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="vm.user.password" minlength="3" required>

            <div ng-messages="form.password.$error" role="alert">
              <div ng-message-exp="['required', 'minlength']">
                Please enter your password.
              </div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                   match="vm.user.password"
                   minlength="3"  required>

            <div ng-messages="form.password.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'match']">
                Passwords must match.
              </div>
            </div>
          </md-input-container>

          <div>
            <md-button class="md-raised" type="submit">
              Sign up
            </md-button>

            <md-button md-no-ink="" class="md-primary" ui-sref="login">Login</md-button>
          </div>

        </form>
      </div>
      <div flex layout="row" flex-gt-sm="20">
        <div flex-sm="40" flex-md="30">
          <oauth-buttons classes="btn-block"></oauth-buttons>
        </div>
      </div>
    </div>

  </md-content>

</md-content>
